<html>

<head>

</head>

<body>

    <div class="row">
        <div class="column" style="border: 1px solid black;">
            <b>Incorrect 1</b>

            <p>data[is.na(data$Embarked)]</p>

            <p>
                <font size="3" color="red">Operation returns an error:</font>
            </p>

            <p style="background-color:rgb(175, 175, 175);width:350px">Error in '[.data.frame'(train, is.na(train$Embarked) == TRUE): undefined columns selected</p>

            <p>
                <b>
                    <font size="4">WHY:
                        <br>
                        <br> Column subsetting is attempted when there is no comma after is.na(data$Embarked).
                        <br>
                        <br> This results in column subsetting for columns that might be undefined.</font>
                </b>
            </p>
        </div>
        <div class="column" style="border: 1px solid black;">
            <b>Incorrect 2</b>

            <p>data[data$Embarked == NA]</p>

            <p>
                <font size="3" color="red">The value of NA is filled for all row values:</font>
            </p>

            <table class="tg">
                <tr>
                    <th class="tg-ohoh"></th>
                    <th class="tg-3ij2">Name</th>
                    <th class="tg-3ij2">Survived</th>
                </tr>
                <tr>
                    <td class="tg-kn9s">NA</td>
                    <td class="tg-7cxr">NA</td>
                    <td class="tg-7cxr">NA</td>
                </tr>
                <tr>
                    <td class="tg-kn9s">NA.1</td>
                    <td class="tg-7cxr">NA</td>
                    <td class="tg-7cxr">NA</td>
                </tr>
                <tr>
                    <td class="tg-kn9s">...</td>
                    <td class="tg-7cxr">...</td>
                    <td class="tg-7cxr">...</td>
                </tr>
                <tr>
                    <td class="tg-kn9s">NA.n</td>
                    <td class="tg-7cxr">NA</td>
                    <td class="tg-7cxr">NA</td>
                </tr>
            </table>

            <p>
                <b>
                    <font size="4">WHY:
                        <br>
                        <br> Missing values (NA) are regarded as non-comparable. Comparisons involving them will always result
                        in NA.
                        <br>
                        <br>
                    </font>
                </b>
            </p>
        </div>
        <div class="column" style="border: 1px solid black;">
            <b>Incorrect 3</b>

            <p>data[na.omit(data$Embarked == NA), ]</p>

            <p>
                <font size="3" color="red">Operation returns 0 rows:</font>
            </p>

            <table class="tg">
                <tr>
                    <th class="tg-ohoh"></th>
                    <th class="tg-3ij2">Name</th>
                    <th class="tg-3ij2">Survived</th>
                </tr>
            </table>

            <p>
                <b>
                    <font size="4">WHY:
                        <br>
                        <br> Result of data$Embarked == NA all have value NA. The na.omit removes all occurrences of rows with
                        NA.
                        <br>
                        <br>
                    </font>
                </b>
            </p>
        </div>
    </div>

</body>

</html>